<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="/">TrinReserve</a>

    <!-- <%if (username){%>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/games/<%=username%>" id = "my_games_link">my games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%=username%>" id = "user_details_link">account details</a>
      </li>
    <%}%>
    </ul> -->

  </div>
</nav>
