<%- include('../partials/header', {title:"TrinReserve"}) -%>
  <div class="container">
    <div class="header">
      <h1>TrinReserve</h1>
    </div>

    <div class="header2">
        <h2>Music Club</h2>
    </div>

    <h3>Date of Meeting</h3>
    <p>Monday, March 4th</p>

    <h3>Meeting Details </h3>
    <p>Song Writing Seminar</p>

    <h3>Room Requested </h3>
    <p>N327</p>

    <a href = "/approve/date/N301/club"><button type="button" class="btn approve-button">Approve</button></a>
    
    
      </div>
  
      <%- include('../partials/footer') -%>