<%- include('../partials/header', {title:"TrinReserve"}) -%>
  <div class="container">
    <div class="header">
      <h1>TrinReserve</h1>
    </div>

    <div class="header2">
        <h2>Math Team</h2>
    </div>

    <h3>Date of Meeting</h3>
    <p>Monday, March 4th</p>

    <h3>Meeting Details </h3>
    <p>Preparing for competition</p>

    <h3>Room Location </h3>
    <p>N327</p>

    
    <a href = "/cancel/date/N301"><button type="button" class="btn cancel-button">Cancel</button></a>
    
      </div>
      <%- include('../partials/footer') -%>

