<%- include('../partials/header', {title:"TrinReserve"}) -%>

  <div class="container">
    <div class="header">
      <h1>TrinReserve</h1>
    </div>

    <div class="header">
        <select class="form-control">
          <option>Third Floor</option>
          <option>Second Floor</option>
          <option>First Floor</option>
        </select>
        <select class="form-control">
            <option>3/4/24</option>
            <option>3/5/24</option>
            <option>3/6/24</option>
            <option>3/7/24</option>
            <option>3/8/24</option>
          </select>
        <!-- <input type="text" class="form-control" placeholder="3/1/24"> -->
    </div>
    <div class="float-meetings">
      <div class="row">
          <div class="col-md-12">
            <h2>My Clubs</h2>
            
            <ul class="list-group">
              <li class="list-group-item">Math Team </li>
              <li class="list-group-item">Classics Club</li>
              <li class="list-group-item">French Club</li>
              
            </ul>
          </div>
        </div>
      </div>

   
     
    <div class="grid">
      <div class="booking-card booked">
        <strong>N323</strong>
        <p>BOOKED</p>
        <p>Math Team</p>
        <span class="tooltip-text">
          <p>Attendees: 10</p>
          <form action="/edit/date/N325/email" method="POST">

            <label for="club">Club Name:</label>
            <input type="text" id="club" name="club" value = "Math Team" readonly><br><br>
            <label for="details">Meeting Details:</label>
            <textarea type="text" id="details" name="details"> Calculating digits of pi</textarea> 


            <button type="submit" class="btn details-button">Edit</button>
            <a href = "/cancel/date/N301/email"><button type="button" class="btn cancel-button">Cancel</button></a>
         
          </form>
                    
          
        </span>
      </div>
      <div class="booking-card available" id = "N325">
        <span class="tooltip-text">
          <p>Room Capacity: 30</p>
          <form action="/reserve/date/N325/email" method="POST">

            <label for="club">Club Name:</label>
            <input type="text" name="club" placeholder = "Classics Club" />

            <label for="N325Details">Meeting Details:</label>
            <textarea type="text" id="N325Details" name="N325Details" placeholder = "Scanning Competition"></textarea>

            <button type="submit" class="btn details-button">Reserve</button>
         
          </form>
        
        </span>
        <strong>N325</strong>
        <br></br>
        <br></br>
        

      </div>
      <div class="booking-card available">
        <span class="tooltip-text">
          <p>Room Capacity: 30</p>
          <form action="/reserve/date/N325/email" method="POST">

            <label for="club">Club Name:</label>
            <input type="text" name="club" placeholder = "Girls Who Code" />

            <label for="N325Details">Meeting Details:</label>
            <textarea type="text" id="N325Details" name="N325Details" placeholder = "Trying our best to be women in STEM"></textarea>

            <button type="submit" class="btn details-button">Reserve</button>
         
          </form>

          
        </span>
        <strong>N326</strong>
        <br></br>
        <br></br>
        

      </div>
      <div class="booking-card empty">
        <strong></strong>
        
      </div>
      <div class="booking-card available">
        <strong>N327</strong>
        <br></br>
        <br></br>
        

      </div>
      <div class="booking-card available">
        <strong>N329</strong>
        <br></br>
        <br></br>
        

      </div>
      <!-- NEW ROW -->
      <div class="booking-card available">
        <strong>N302</strong>
        <br></br>
        <br></br>
        

      </div>
      <div class="booking-card available">
        <strong>N304</strong>
        <br></br>
        <br></br>
        

      </div>
      <div class="booking-card pending">
        <strong>N306</strong>
        <p>Pending Request</p>
      </div>
      <div class="booking-card empty">
        <strong> </strong>
      </div>

      <div class="booking-card booked">
        <strong>N312</strong>
        <p>BOOKED</p>
        <p>Trinity Times</p>
        <span class="tooltip-text">
          <form action="/edit/date/N325/email" method="POST">
            <p>Attendees: 10</p>
            <label for="club">Club Name:</label>
            <input type="text" name="club" value = "Trinity Times" readonly/>

            <label for="N325Details">Meeting Details:</label>
            <textarea type="text" id="N325Details" name="N325Details"> Working on the paper</textarea>

            <button type="submit" class="btn details-button">Edit</button>
            <a href = "/cancel/date/N301/email"><button type="button" class="btn cancel-button">Cancel</button></a>
         
          </form>

        
        </span>
      </div>

      <div class="booking-card available">
        <strong>N314</strong>
        <br></br>
        <br></br>
        

      </div>
      <!-- NEW ROW -->
      <div class="booking-card available">
        <strong>N301</strong>
        <br></br>
        <br></br>
        

      </div>
      <div class="booking-card booked">
        <strong>N303</strong>
        <p>BOOKED</p>
        <p>AAA-SA</p>
        <span class="tooltip-text">
          <p>Attendees: 12</p>
          <form action="/edit/date/N303/email" method="POST">
            <label for="club">Club Name:</label>
            <input type="text" name="club" value = "AAA-SA" readonly/>

            <label for="N325Details">Meeting Details:</label>
            <textarea type="text" id="N325Details" name="N325Details"> Talking about stuff</textarea>

            <button type="submit" class="btn details-button">Edit</button>
            <a href = "/cancel/date/N301/email"><button type="button" class="btn cancel-button">Cancel</button></a>
         
          </form>
         
        </span>
      </div>
      <div class="booking-card pending">
        <strong>N305</strong>
        <p>Pending Request</p>
      </div>
      <div class="booking-card available">
        <strong> N311</strong>
        <br></br>
        <br></br>
        

      </div>
      <div class="booking-card pending">
        <strong>N313</strong>
        <p>Pending Request</p>
      </div>
      <div class="booking-card available">
        <strong>N315</strong>
        <br></br>
        <br></br>
        

      </div>
    </div>
  </div>
  
<%- include('../partials/footer') -%>


